/* RESET */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size:18px;
}

/* PAGE LAYOUT */
html {
    width: 100%;
}
body {
    color:#555;
    background-color: #fff;
}

/* TYPOGRAPHY */

h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
    font-size:2.2em;
    line-height:1.1em;
    margin:0px 2px;    
}
h2 {
    text-align:center;
}
h3 {
    font-size:1.3em;
}
p {
    padding:20px;   
}
a {
    font-weight: bold;
    color: #d40000;
    text-decoration:none;
}
a:hover {
    color: #ff4f4f;
}
li {
    list-style:none;
}

/* SPECIFIC STYLES */

#title {
    height:400px;
    background-color: #000;
    background-image: url("images/foo-869x600.png");
    background-size: 869px 600px;
    background-repeat: no-repeat;
    background-position: right;

    border-bottom:1px solid #bbb;
}
h1 {
    color:#000;
    background-color:rgba(222, 222, 222, 0.5);
    padding-left:40px;
    padding-right:40px;
    padding-top:10px;
    padding-bottom:0px;
    position:relative;
}
#content {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
}
p.tagline {
    font-weight:bold;
    text-align:center;
}
h2 {
    text-align:center;
    padding:30px;
}
.nav {
    text-align:center;
    padding:20px;
    clear:both;
}
.nav ul {   
    display: inline-block;
    text-align: left;
}
.nav li {
    padding:8px;
}
.nav a {
    display:block;
    font-size:1.2em;
    font-weight:normal;
}
p.justAbove {
    padding-top:20px;
    padding-bottom:2px;
    padding-left:10px;
    padding-right:10px;
}
iframe {
    padding:5px;
}
.backToTop a {
    position:fixed;
    bottom:5px;
    right:10px;
    text-align:right;
    font-size:1.5em;
}
.bigger {
    font-size:1.5em;
}

div.footer {
    background-color: #ddd;
    padding: 50px;
    padding-bottom:70px;
    border-top:1px solid #dfcece;
}
.footer p {
    text-align:center;
}

/*
HELPFUL

centered list https://www.w3schools.com/howto/howto_css_center-list.asp



*/
